<app-navbar></app-navbar>

<div class="content-wrapper" style="padding-top:3%; padding-bottom:15%;
background: url(assets/files/gettyimages-1132439283-640x640.jpg) no-repeat center center;
background-attachment: fixed;
background-size: cover; height: 90vh;">

  <div class="container-fluid">

    <div class="panel panel-primary">

      <!-- Heading -->
      <div class="panel-heading" style="height:70px;">
        <div class="text-center">
          <h1 class="text-primary font-weight-bold">
            {{'Product List' | translate}}
          </h1>
        </div>
      </div>

      <!-- Search Row -->
      <div class="row p-2">

        <div class="col-sm-1"></div>

        <div class="col-sm-2">
          <input type="text" class="form-control"
            [(ngModel)]="form.searchParams.name"
            placeholder="{{'Name' | translate}}">
        </div>

        <div class="col-sm-2">
          <input type="number" class="form-control"
            [(ngModel)]="form.searchParams.price"
            placeholder="{{'Price' | translate}}">
        </div>

        <div class="col-sm-2">
          <select class="form-control"
            [(ngModel)]="form.searchParams.category">
            <option value="">{{'Category' | translate}}</option>
            <option value="High">High</option>
            <option value="Low">Low</option>
          </select>
        </div>

        <div class="col-sm-1">
          <button (click)="submit()" class="btn btn-primary">
            {{'Search' | translate}}
          </button>
        </div>

        <div class="col-sm-2">
          <button (click)="forward('/product')" class="btn btn-success">
            {{'Add Product' | translate}}
          </button>
        </div>

        <div class="col-sm-1">
          <button (click)="deleteMany()" class="btn btn-danger">
            {{'Delete' | translate}}
          </button>
        </div>

      </div>

      <!-- Messages -->
      <div *ngIf="form.error" class="alert alert-danger">
        {{form.message}}
      </div>

      <div *ngIf="!form.error && form.message" class="alert alert-success">
        {{form.message}}
      </div>

      <!-- Table -->
      <div class="table-responsive p-2">
        <table class="table table-bordered table-striped table-hover">

          <thead class="thead-light text-uppercase">
            <tr>
              <th>
                <input type="checkbox"
                  [(ngModel)]="isMasterSel"
                  (change)="checkUncheckAll($event)">
              </th>
              <th>S.No.</th>
              <th>{{'Name' | translate}}</th>
              <th>{{'Date Of Purchase' | translate}}</th>
              <th>{{'Category' | translate}}</th>
              <th>{{'Price' | translate}}</th>
              <th>{{'Edit' | translate}}</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let p of form.list; let i = index">
              <td>
                <input type="checkbox"
                  id="{{p.id}}"
                  (change)="checklistUpdate()">
              </td>

              <td>{{ (form.pageNo * 5) + i + 1 }}</td>
              <td>{{ p.name }}</td>
              <td>{{ p.dateOfPurchase | date:'dd-MM-yyyy' }}</td>
              <td>{{ p.category }}</td>
              <td>{{ p.price }}</td>

              <td>
                <a (click)="forward('/product/' + p.id)" style="cursor:pointer;">
                  <i class="fa fa-edit text-info"></i>
                </a>
              </td>
            </tr>
          </tbody>

        </table>

        <!-- Pagination -->
        <table style="width:100%">
          <tr>
            <td style="width:50%">
              <button (click)="previous()"
                [disabled]="form.pageNo == 0"
                class="btn btn-info">
                {{'Previous' | translate}}
              </button>
            </td>

            <td style="width:50%" class="text-right">
              <button (click)="next()"
                [disabled]="nextList == 0"
                class="btn btn-info">
                {{'Next' | translate}}
              </button>
            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>

<app-footer></app-footer> 
